<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <ul id="app">
        <li v-for="(index,item) in items">
            <p>
                <!-- <span>{{$index}}</span> -->
                <span>{{ index}}</span>
                <span>{{ item.name }}</span>
                <span>{{ item.age }}</span>
            </p>
            <p>{{ item.sex }}</p>
        </li>
    </ul>
    <ul id="box">
        <li v-for="(key,value) in objects">
            <p>
                <!-- <span>{{$key}}</span> -->
                <span>{{ key}}</span>
                <span>{{ value}}</span>
            </p>
        </li>
    </ul>
</body>

</html>
<script src="../vue_1.0.28.js"></script>
<script>
//启动debug模式

Vue.config.debug = true
var vm = new Vue({
    el: '#app',
    data: {
        items: [{
            name: 'zhangshan',
            age: 19,
            sex: 'Men'
        }, {
            name: 'lisi',
            age: 52,
            sex: 'Men'
        }, {
            name: 'wangwu',
            age: 36,
            sex: 'Women'
        }, ]
    }
})

var vm1 = new Vue({
    el: '#box',
    data: {
        objects: {
            name: '你好',
            age: 800,

        }

    }
})
</script>
