<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="text" v-model="name">
        <ul>
            <li v-for="item in items | filterBy name">
                <p>
                    <span>{{ $index}}</span>
                    <span>{{ item }}</span>
                </p>
            </li>
        </ul>
    </div>
</body>

<div id="filter-by-example">
  <input v-model="name">
  <ul>
    <li v-for="user in users | filterBy name in 'name'">
      {{ user.name }}
    </li>
  </ul>
</div>

</html>
<script src="../../lib/vue_1.0.28.js"></script>
<script>
//启动debug模式

Vue.config.debug = true
var vm = new Vue({

    el: '#app',
    data: {
        name:'',
        items: [
            'jackChen',
            'mark',
            'lixiaolong',
            'cc',
            'zhugeliang',
            'zhouyu',
            'machao',
        ]
    }
})

new Vue({
  el: '#filter-by-example',
  data: {
    name: '',
    users: [
      { name: 'Bruce' },
      { name: 'Chuck' },
      { name: 'Jackie' }
    ]
  }
})
</script>
