<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <!-- 输入框 -->
        <span>Message is: {{ message }}</span>
        <br>
        <input type="text" v-model="message" placeholder="edit me">
        <!-- 多行框 -->
        <span>Multiline message is: {{ Multiline_msg}}</span>
        <br>
        <textarea v-model="Multiline_msg" placeholder="add multiple lines"></textarea>
    </div>
</body>

</html>
<script src="../../vue_1.0.28.js"></script>
<script>
//启动debug模式

Vue.config.debug = true
var vm = new Vue({
    el: '#app',
    data: {
        message: '',
        Multiline_msg:''
    }
})
</script>
